<!-- Hero Start -->
<section class="bg-half-170 pb-0 d-table w-100" id="home">
  <!-- Process Start -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title">
          <img src="assets/images/icon/credit-card.svg" class="avatar avatar-md-sm" alt="">
          <h6 class="text-primary mt-3 fw-bold">PAYMENTS</h6>
          <h4 class="title mb-4">Accepted Funding Sources</h4>
        </div>
        <div class="mt-4">
          <a href="javascript:void(0)"><img src="assets/images/payments/payment/maestro.jpg"
              class="img-fluid avatar avatar-small mx-2 mt-4 rounded-circle shadow" placement="top" ngbTooltip="Maestro"
              alt=""></a>
          <a href="javascript:void(0)"><img src="assets/images/payments/payment/paypal.jpg"
              class="img-fluid avatar avatar-small mx-2 mt-4 rounded-circle shadow" placement="top" ngbTooltip="Paypal"
              alt=""></a>
          <a href="javascript:void(0)"><img src="assets/images/payments/payment/master-card.jpg"
              class="img-fluid avatar avatar-small mx-2 mt-4 rounded-circle shadow" placement="top"
              ngbTooltip="Master Card" alt=""></a>
          <a href="javascript:void(0)"><img src="assets/images/payments/payment/visa.jpg"
              class="img-fluid avatar avatar-small mx-2 mt-4 rounded-circle shadow" placement="top" ngbTooltip="Visa"
              alt=""></a>
          <a href="javascript:void(0)"><img src="assets/images/payments/payment/american-express.jpg"
              class="img-fluid avatar avatar-small mx-2 mt-4 rounded-circle shadow" placement="top"
              ngbTooltip="American Express" alt=""></a>
          <a href="javascript:void(0)"><img src="assets/images/payments/payment/discover.jpg"
              class="img-fluid avatar avatar-small mx-2 mt-4 rounded-circle shadow" placement="top"
              ngbTooltip="Discover" alt=""></a>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row justify-content-center mt-lg-4 mt-3">
          <div class="col-md-6 mt-4 pt-2">
            <div class="card rounded shadow bg-light border-0">
              <div class="card-body py-5">
                <img src="assets/images/payments/payment/master.png" height="60" class="text-right" alt="">
                <div class="mt-4">
                  <h5 class="">•••• •••• •••• 4559</h5>
                  <div class="d-flex justify-content-between">
                    <p class="h6 text-muted mb-0">Broke Billionaire</p>
                    <h6 class="mb-0">Exp: <span class="text-muted">10/22</span></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-md-6 mt-4 pt-2">
            <div class="card rounded shadow bg-dark border-0">
              <div class="card-body py-5">
                <img src="assets/images/payments/payment/visaa.png" height="60" class="text-right" alt="">
                <div class="mt-4">
                  <h5 class="text-light">•••• •••• •••• 9856</h5>
                  <div class="d-flex justify-content-between">
                    <p class="h6 text-muted mb-0">Joels a Joke</p>
                    <h6 class="mb-0 text-muted">Exp: <span class="text-muted">01/24</span></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-md-6 mt-4 pt-2">
            <div class="card rounded shadow bg-info border-0">
              <div class="card-body py-5">
                <img src="assets/images/payments/payment/rupay.png" height="60" class="text-right" alt="">
                <div class="mt-4">
                  <h5 class="text-white">•••• •••• •••• 5465</h5>
                  <div class="d-flex justify-content-between">
                    <p class="h6 text-light mb-0">Jeffery Epstein </p>
                    <h6 class="mb-0 text-light">Exp: <span class="text-light">03/23</span></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-md-6 mt-4 pt-2">
            <div class="card rounded shadow bg-light border-0">
              <div class="card-body py-5">
                <img src="assets/images/payments/payment/paypals.png" height="60" class="text-right" alt="">
                <div class="mt-4">
                  <div class="input-group mb-3">
                      <input name="email" id="email" type="email" class="form-control" placeholder="Paypal Email :" required>
                      <button class="btn btn-primary submitBnt" type="submit" id="paypalmail">Send</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Section Start -->
<section class="section pb-0">

  <section class="section bg-light">
    <!-- Payment and Price Start -->
    <div class="container mt-100 mt-60">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h4 class="title mb-4">Pricing & Add Payment Card</h4>
            <p class="text-muted para-desc mb-0 mx-auto">Start working with <span
                class="text-primary fw-bold">Landrick</span> that can provide everything you need to genePrice
              awareness, drive traffic, connect.</p>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->

      <div class="row align-items-center">
        <div class="col-lg-5 col-md-6 col-12 mt-4 pt-2">
          <div class="card bg-light shadow rounded border-0">
            <div class="bg-primary bg-gradient p-4 text-center rounded-top">
              <h4 class="mb-0 card-title title-dark text-light">Payment plan</h4>
            </div>

            <div class="card-body">
              <div class="d-flex justify-content-center mb-4">
                <span class="price text-primary fw-bold display-4 mb-0">2</span>
                <span class="h4 mb-0 mt-2 text-primary">%</span>
                <span class="h6 align-self-end fw-bold text-uppercase mb-2 ms-2"> Per Transaction</span>
              </div>

              <ul class="feature list-inline">
                <li class="h6 mt-2 fw-normal">
                  <i-feather name="check-circle" class="fea icon-ex-md text-primary me-2"></i-feather>Transparent
                  payouts
                </li>
                <li class="h6 mt-2 fw-normal">
                  <i-feather name="check-circle" class="fea icon-ex-md text-primary me-2"></i-feather>Ledger Based Purchases
                </li>
                <li class="h6 mt-2 fw-normal">
                  <i-feather name="check-circle" class="fea icon-ex-md text-primary me-2"></i-feather>Timed Payouts
                </li>
                <li class="h6 mt-2 fw-normal">
                  <i-feather name="check-circle" class="fea icon-ex-md text-primary me-2"></i-feather>24×7 support
                </li>
              </ul>

              <div class="d-grid">
                <a href="javascript:void(0)" class="btn btn-primary mt-4 pt-2">Payment Now</a>
              </div>
            </div>
          </div>
        </div>
        <!--end col-->

        <div class="col-lg-7 col-md-6 col-12 mt-4 pt-2">
          <div class="card rounded border-0 shadow">
            <div class="bg-light p-4 text-center rounded-top">
              <h4 class="mb-0 card-title text-primary">Add a new card</h4>
            </div>

            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label">Name of card holder : </label>
                      <input name="name" id="name" type="text" class="form-control fw-bold" required placeholder="Name">
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label">Card Number :</label>
                      <input type="number" min="0" autocomplete="off" id="cardnumber" class="form-control fw-bold"
                        required placeholder="0000 0000 0000 0000">
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Expires End :</label>
                      <input type="number" min="0" autocomplete="off" id="exdate" class="form-control fw-bold" required
                        placeholder="MM/YY">
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label">CVV :</label>
                      <input type="number" min="0" autocomplete="off" id="cvv" class="form-control fw-bold" required
                        placeholder="CVV">
                    </div>
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->
                <div class="row">
                  <div class="col-sm-12">
                    <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary" value="Add Card">
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->
              </form>
              <!--end form-->
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
    <!-- Payment and Price End -->
  </section>
  <!--end section-->
  <!-- section End -->

  <!-- Start -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title">
            <h4 class="title mb-4">Transact safely with more digital connections through The UberBooty Wallet</h4>
            <p class="text-muted para-desc mb-0 mx-auto">Start billing with <span
                class="text-primary fw-bold">The UberBooty Wallet</span> to generate awareness,
              drive traffic, connect in real-time.</p>
          </div>

          <div class="contact-detail mt-5">
            <a href="" target="_blank" class="btn btn-primary mt-3">Start Connecting <span
                class="badge rounded-pill bg-danger ms-2">v3.2</span></a>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!--end section-->
  <!-- End -->


  <!-- Back to top -->
  <a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
  </a>
  <!-- Back to top -->